<!-- Base component of Discover Quickdraw page -->
<template>
  <div class="container">
    
    <!-- Drawing part of the component -->
    <main class="main">
      <div class="main__content">
        <div class="main__canvas">
          <canvas id="c" class="canvas" width="400" height="400"></canvas>
        </div>
      </div>
    </main>

    <div class="buttons">
        <button class="button__add" v-on:click="newSignature()">Create New Signature</button>
        <button class="button__add" v-on:click="authoriseWithSignature()">Authorise</button>
        <button class="button__erase" v-on:click="clearCanvas()">Clear</button>
    </div>
  </div>
</template>

<script>

import { fabric } from "fabric";
const https = require('https');

export default {
  name: "BaseModel",
  data() {
    return {
      mousePressed: false, // propagate mouse press event into component
      coords: [], // stores all coordinates of points on drawing
      brushWidth: 20, // stores width of brush
      coords_array: [],
      options: {
        hostname: 'santander-hack-server.azurewebsites.net',
        port: 443, // HTTPS port- change to 80 if HTTP is needed.
        path: '', // Edit as appropriate in-function, depending on use to create or verify signatures.
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Content-Length': 0 // Edited to data.length in-function.
        }
      }
    };
  },
  methods: {
    recordCoor(event) {
      /**
       * Record the x,y coordinates of mouse on canvas when mouse is pressed
       */
      var pointer = this.canvas.getPointer(event);
      var posX = pointer.x;
      var posY = pointer.y;
      var time = Date.now();

      var pointData = {'x': posX, 'y': posY, 't': time};

      if (posX >= 0 && posY >= 0 && this.mousePressed) {
        this.coords.push(pointData);
      }
    },
    getMinBox() {
      /**
       * Get top left and bottom right coords of bounding box of the drawing
       */
      var coorX = this.coords.map(function(p) {
        return p.x;
      });
      var coorY = this.coords.map(function(p) {
        return p.y;
      });

      var min_coords = {
        x: Math.min.apply(null, coorX),
        y: Math.min.apply(null, coorY)
      };
      var max_coords = {
        x: Math.max.apply(null, coorX),
        y: Math.max.apply(null, coorY)
      };

      return {
        min: min_coords,
        max: max_coords
      };
    },
    normalise() {
        var bounding_box = this.getMinBox();
        var min = bounding_box.min;
        var max = bounding_box.max;
        var min_time = this.coords[0].t;
        for(var i = 0; i < this.coords.length; i++) {
            this.coords[i].x -= min.x;
            this.coords[i].x /= max.x;
            this.coords[i].y -= min.y;
            this.coords[i].y /= max.y;
            this.coords[i].t -= min_time;
        }
    },
    clearCanvas() {
      /**
       * Resets the canvas
       */
      this.canvas.clear();
      this.canvas.backgroundColor = "#FFFFFF";
      this.raw_predictions = [];
      this.coords = [];
    },
    postSignature(destination_url) {
      this.options.path = destination_url
      this.options.headers['Content-Length'] = this.coords.length
      const req = https.request(this.options, res => {
        console.log(`statusCode: ${res.statusCode}`)
        res.on('data', d => {
          process.stdout.write(d)
        })
      })
      req.on('error', error => {
        console.error(error)
      })
      req.write(this.coords)
      req.end()
    },
    newSignature() {
        this.normalise();
        this.postSignature('newSignature');
        console.log(this.coords);
    },
    authoriseWithSignature() {
        this.normalise();
        //console.log(this.coords);
        for(var i = 0; i < this.coords.length; i++) {
          this.coords_array.push([this.coords[i].x, this.coords[i].y, this.coords[i].t]);
        }
        console.log(this.coords_array);
        this.sendMessage();
    },
    /*async sendMessage() {
        client.documents.addDocuments(
            'santander',
            'signatures',
            {
                data: [{
                    name: this.name,
                    sig: this.signature
                }]
            }
        )
    },
    async getRocksetData() {
        let result = await client.queries.query({
            sql: {
                query: 'Select * from santander.signatures;'
            }
        })
        result = result.results
        return result
    }*/
  },
  watch: {
    brushWidth: function(val) {
      this.canvas.freeDrawingBrush.width = val;
    }
  },
 mounted() {
    this.canvas = new fabric.Canvas("c", {
      isDrawingMode: true
    });
    this.canvas.backgroundColor = "#FFFFFF";
    this.canvas.freeDrawingBrush.width = this.brushWidth;
    this.canvas.renderAll();

    let that = this;
    this.canvas.on("mouse:up", function() {
      that.mousePressed = false;
    });
    this.canvas.on("mouse:down", function() {
      that.mousePressed = true;
    });
    this.canvas.on("mouse:move", function() {
      that.recordCoor(event);
    });

  }
}
</script>

<style scoped>
.buttons {
  justify-content: flex-end;
}

.canvas {
    border: 2px solid red;
}

.toggle {
  margin-left: 1.5em;
}
</style>